*{
    box-sizing: border-box;
    font-family: "Inter";
}
h1{
    color: #3498db;
}
img{
    /* width: 100vh; */
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
.container{
    width: 100%;
    height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.label{
    display: block;
    margin-bottom: 8px;
    color: aqua;
    font-size: 15px;
    font-weight: 500;
}
input{
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #3498db;
border-radius: 5px;
}
button{
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ;
}
.btn1{
    background-color: #3498db;
}
.btn1:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}
.btn2{
    background-color: #27ae60;
    margin-left: 10px;
}
.btn2:hover{
    background-color: #08f366;
}
p a{
    text-decoration: none;
    color: #3498db;
}